@import url(./fonts.css);
@import url(./header-footer.css);

@media only screen and (max-width: 500px) {
   body main {
        grid-column-start: 2;
        grid-column-end: 7;
    }
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
html {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 200px auto auto auto auto 130px;
    grid-template-columns: 10% 15% 15% 10% 25% 15% 10%;
    row-gap: 1rem;
    background-color: #FDF5F1;
    min-height: 100vh;
}
main {
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 7;
}

main h1 {
    font-size: 1.5em;
    font-family: 'Akzidenz-GroteskNextLight', sans-serif;
    margin: 2em 0 0.5em 0;
    color: #364771;
    
}

h2 {
    font-size: 1em;
    font-family: 'Akzidenz-GroteskNextReg', sans-serif;
    color: #364771;
    margin: 0 0 3em 0;
}

h2 a {
    font-size: 1em;
    font-family: 'Akzidenz-GroteskNextLight', sans-serif;
    margin-bottom: 0.2em;
    color: #364771;
}

h2 a:hover {
    text-decoration: underline;
    color: #364771;
}

p {
    font-size: 1em;
    font-family: 'Akzidenz-GroteskNextLight', sans-serif;
    color: #364771;
}

                            /* ///////EMAIL FORM/////// */
/* label {
    font-family: 'Akzidenz-GroteskNextReg', sans-serif;
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    font-family: 'Akzidenz-GroteskNextReg', sans-serif;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #F9F1ED;
    padding: 20px;
  } */