@import url(./fonts.css);
@import url(./header-footer.css);

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
html {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 200px auto 130px;
    grid-template-columns: 10% 15% 15% 10% 25% 15% 10%;
    row-gap: 1rem;
    background-color: #FDF5F1;
    min-height: 100vh;
}
main {
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 7;
}

h1 {
    font-size: 1.5em;
    font-family: 'Akzidenz-GroteskNextLight', sans-serif;
    margin-bottom: 0.1em;
}