
* {
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    background-color: #FDF5F1;
    overflow: hidden;
    z-index: 200;
}



/* ////////// NAV ////////// */

header {
    background-color: #364771;
    width: 100%;
    min-height: 100vh; 
    /* min-height: 80vh; */ /* ////////// open changed height //////////*/
    transform: skewY(-10deg);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: -500px;
    margin-bottom: 0.5em;
    border-bottom: 2px solid #FDF5F1;
    z-index: 1000;
}

a, span {
    font-family: sans-serif;
    text-decoration: none;
    font-size: 1rem;
    color: #FDF5F1;
    display: inline-block;
    margin-bottom: 0.2em;
    padding: 0 0.25em 0 0.25em;
    z-index: 1100;
}

a:hover{
    cursor: pointer;
}

/* ////////// NAV ////////// */


/* ////////// Main ////////// */
#content {
    margin-top: 2em;
    min-height: calc(100vh - 370px);
}
/* ////////// Main ////////// */

/* ////////// Footer ////////// */
footer {
    position: absolute;
    bottom: 0;
    background-color: #364771;
    width: 100%;
    min-height: 61.2vh;
    transform: skewY(-10deg);
    display: flex;
    align-items: flex-end;
    justify-content: end;
    /* transform: rotate(-10deg); */
    /* bottom: 0; */
    margin-top: 0.2rem;
    z-index: 500;
}

.copyright {
    color: #FDF5F1;
    font-family: sans-serif;
    font-size: 0.6rem;
    padding: 2em;
    margin-bottom: 0.2em;
    transform: skewY(10deg);
    z-index: 500;
}
/* ////////// Footer ////////// */
