@import url(./fonts.css);
* {
    padding: 0;
    margin: 0;
}


body{
    width: 100%;
    background-color: #FDF5F1;
    overflow: hidden;
    z-index: 200;
}

/* ////// grid idea ////// */
#gridContainer {
    display: grid;
    grid-template-areas: 
    "header"
    "header"
    "footer"
    "footer"
    "footer"
    "footer";
    width: 100vw;
    height: 100vh;
}
/* ////////// NAV ////////// */

header {
    grid-area: header;
    background-color: #364771;
    width: 100%;
    /* min-height: 80vh; */ /*////////// open changed height ////////// */
    transform: skewY(-10deg);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: -500px;
    border-bottom: 1px solid #FDF5F1;
    z-index: 1000;
}

a, span {
    font-family: 'Akzidenz-GroteskNextXLight', sans-serif;
    text-decoration: none;
    font-size: 1.1em;
    color: #FDF5F1;
    display: inline-block;
    margin-bottom: 0.2em;
    padding: 0 0.25em 0 0.25em;
    z-index: 1100;
}

a:hover{
    cursor: pointer;
    font-family: 'Akzidenz-GroteskNextReg', sans-serif;
}

span#HomePush a{
    font-family: 'Akzidenz-GroteskNextReg', sans-serif;
}

/* ////////// NAV ////////// */

/* ////////// Main ////////// */
#content {
    margin-top: 2em;
    min-height: calc(100vh - 370px);
}
/* ////////// Main ////////// */

/* ////////// Footer ////////// */
footer {
    grid-area: footer;
    background-color: #364771;
    transform: skewY(-10deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -20em;
    z-index: 500;
}

.logo {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1200;
    font-family: 'Akzidenz-GroteskNextXLight', sans-serif;
    text-transform: uppercase;
    color: #FDF5F1;
}

h1 {
    font-size: 4em;
}

h3 { 
    border-top: solid 0.5px #FDF5F1;
    font-size: 1.5em;
    padding-top: 0.2rem;
}

.copyright {
    color: #FDF5F1;
    font-family: sans-serif;
    font-size: 0.6rem;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 1em 1em 0;
    z-index: 1100;
}
/* ////////// Footer ////////// */