@import url(./fonts.css);
@import url(./header-footer.css);
@import url(./AboutPage/about-media-queries.css);

  
                        /* ///// INITIAL ///// */
* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
html {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 15% auto auto auto auto 10%;
    grid-template-columns: 10% 15% 15% 10% 25% 15% 10%;
    row-gap: 1rem;
    background-color: #FDF5F1;
    min-height: 100vh;

}

                        /* ///// MAIN ///// */

main {
    display:grid;
    grid-template-columns: 10% 20% 60% 10%;
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 8;
}

aside {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-right: 1em;
    margin-top: 1em;
}
aside h1#project{
    display: inline;
    font-size: 1em;
    font-family: 'Akzidenz-GroteskNextReg';
    white-space: nowrap;
}

aside span#project-name {
    /* display: inline; */
    margin-left: 0.5em;
    font-size: 1rem;
    font-family: 'Akzidenz-GroteskNextReg';
}

aside h2#date {
    font-size: 0.6rem;
}

aside h3 {
    font-family: 'Akzidenz-GroteskNextReg';
}

aside p{
    font-size: 0.5em;
}

main img#portfolio-image {
    width: 100%;
    grid-column-start: 3;
    grid-column-end: 4;
    margin-bottom: 1em;
}