@import url(./fonts.css);
@import url(./header-footer.css);
@import url(./AboutPage/about-media-queries.css);

@media only screen and (min-width: 2000px) {
    html body main aside {
        grid-column-start: 4;
        grid-column-end: 5;
    }
    aside h1#project {
        font-size: 1.3em;
    }

    aside h2#date {
        font-size: 1.2em;
    }

    aside h3, aside p {
        font-size: 1.1em;
    }
}

@media only screen and (min-width: 1500px) {
    main img#portfolio-image {
        grid-column-start: 5;
        grid-column-end: 6;
    }

    body main aside {
        grid-column-start: 3;
        grid-column-end: 5;
    }
}

@media only screen and (max-width: 940px) {
    main img#portfolio-image {
        grid-column-start: 3;
        grid-column-end: 6;
        filter: grayscale(0%);
    }

    main aside {
        grid-column-start: 3;
        grid-column-end: 6;
    }

    h1#project {
        text-align: left;
    }

    aside h2#date {
        text-align: left;
    }
}
  
                        /* ///// INITIAL ///// */
* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
html {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 200px auto auto auto auto 130px;
    grid-template-columns: 10% 15% 15% 10% 25% 15% 10%;
    row-gap: 1rem;
    background-color: #FDF5F1;
    min-height: 100vh;

}

                        /* ///// MAIN ///// */

main {
    display:grid;
    grid-template-columns: 5% 8.75% 8.75% 17.5% 46.25% 8.75% 5%;
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 8;
}

aside {
    grid-column-start: 2;
    grid-column-end: 5;
    margin: 0.5em 1.2em 0.5em 0;
    justify-self: end;
}
#project{
    font-size: 1.2em;
    font-family: 'Akzidenz-GroteskNextLight', sans-serif;
    margin-bottom: 0.1em;
    text-align: right;
}

#date {
    font-size: 1em;
    font-family: 'Akzidenz-GroteskNextLight';
    margin-bottom: 0.2em;
    text-align: right;
}

h3 {
    font-size: 1.05em;
    font-family: 'Akzidenz-GroteskNextReg';
}

p{
    font-size: 1em;
    font-family: 'Akzidenz-GroteskNextLight';
}

#portfolio-image {
    width: 100%;
    grid-column-start: 5;
    grid-column-end: 7;
    margin-bottom: 1em;
    filter: grayscale(100%);
}

#portfolio-image:hover {
    transform: scale(1.02);
    filter: grayscale(0%);
}